{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table table-hover text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Marl</th>
                <th scope="col">Model</th>
                <th scope="col">Type</th>
                <th scope="col">Km</th>
                <th scope="col">Is New</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col">Edit Action</th>
                    <th scope="col">Remove Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for car in cars %}
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ car.mark.name }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.type }}</td>
                    <td>{{ car.km }}</td>
                    <td>{{ car.new }}</td>

                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('edit_dealership', {id: car.id}) }}">
                                <i class="fas fa-user-edit">
                                    <button type="button" style="font-size: 22px" class="btn ">
                                        <ion-icon name="build"></ion-icon>
                                    </button>
                                </i>
                            </a></td>
                        <td><a href="{{ path('remove_dealership', {id: car.id}) }}">
                                <i class="fas fa-user-edit">
                                    <button type="button" style="font-size: 22px" class="btn ">
                                        <ion-icon name="close"></ion-icon>
                                    </button>
                                </i>
                            </a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container align_text">
        {% if page > 0 %}
            <a type="button" class="btn btn-primary" href={{ path('list_cars', {page: page-1}) }}><</a>
        {% endif %}
        {% if hasMoreItems %}
            <a type="button" class="btn btn-primary" href={{ path('list_cars', {page: page+1}) }}>></a>
        {% endif %}
    </div>
{% endblock %}


